@charset "UTF-8";

div{
	border: 1px solid #ccc;	
}

#container{
	width: 960px; /* px이라서 웹 화면 작아져도 크기 움직이지 않음 */
	padding: 20px;
	margin: 0 auto;	
} /* 밑에 상속받는 애들도 다 적용됨 */

#header{
	padding: 20px;
	margin-bottom: 20px;
}

#contents{
	width: 620px; /* 본문이 전체 너비보다 작아짐 */
	padding: 20px; /* 상하좌우 20px씩 */
	margin-bottom: 20px;
}

#sidebar{
	width: 240px;
	float: right;
	padding: 20px;
	margin-bottom: 20px;
}

#footer{
	clear: both;	
	padding: 20px;
}
