@charset "UTF-8";

* {
	margin: 20px auto;
}

.bluetext {
	color: blue;
}

#container {
	width: 600px; /* 너비 */
	padding: 15px; /* 테두리와 내용 사이의 여백 */
	border: 1px dotted gray; /* 테두리 스타일 */
}

p {
	font-size: 0.9em; /* 글자 크기 (em은 상대적 크기 (기본적인 크기에 0.9만큼 표시해라~))*/
	line-height: 2.0; /* 줄간격 */
}

h2.accent {
	background-color: #222;
	color: #fff;
	padding: 5px; /* 경계에서 글자 안쪽으로 쪼끔씩 들어가있음 */
}

.browntext {
	color: brown;
}

.boldtext {
	font-weight: bold;
}